/* 最大容器属性设置 */
.container {
	position: relative;
	max-width: 2796px;
	margin: 0 auto;
	background: #f9fafc;
}

.content {
	position: relative;
	width: 1024px;
	height: 640px;
	margin: 150px auto;
	background: rgb(249,250,252);
}

.contact-information-box {
	position: relative;
	float: left;
	width: 300px;
	background: rgb(51,51,51);
	color: rgb(255,255,255);
}

.head-name-box {
	width: 300px;
	height: 120px;
}

.head-box {
	float: left;
	width: 90px;
	height: 90px;
	margin-top: 15px;
	margin-left: 35px;
	border-radius: 45px;
	background: rgb(245,245,245);
	overflow: hidden;
}

.head-box:hover {
	margin-top: 13px;
	margin-left: 33px;
	border: 2px solid #e1e1e1;
}

.head-box img {
	max-width: 90px;
	max-height: 90px;
}

.name-my {
	float: right;
	width: 173px;
	height: 118px;
	margin: 0 auto;
	color: #fff;
	/*letter-spacing: 15px;
	text-indent: 15px;*/
	text-align: center;
}

.name-my-cn,
.name-my-en {
	display: block;
	height: 59px;
	font: 24px "Microsoft YaHei";
	line-height: 2.2;
}

.name-my-cn {
	line-height: 4;
}

.head-name-line {
	float: right;
	width: 220px;
	height: 2px;
	background: #ccc;
}

.quotes-my {
	width: 260px;
	height: 80px;
	margin: 30px 20px 10px;
	font-size: 14px;
	font-family: "Microsoft YaHei";
	line-height: 1.5;
}

.contact-way-box {
	width: 300px;
	height: 400px;
	font-family: "Microsoft YaHei";
}

.contact-title {
	width: 275px;
	height: 80px;
	margin: 0;
	margin-left: 25px;
	font-size: 18px;
	line-height: 7;
}

.contact-detail {
	width: 275px;
	/*height: 360px;*/
	margin: 10px 0 0 25px;
}

.contact-mobile,
.contact-email,
.contact-wechat,
.contact-qq {
	display: block;
	width: 215px;
	height: 45px;
	padding-left: 40px;
	color: #fff;
	font-size: 18px;
	line-height: 2.5;
}

.contact-mobile {
	background: url("../images/mobile.png") no-repeat left;
}

.contact-email {
	background: url("../images/email.png") no-repeat left;
}

.contact-qq {
	background: url("../images/qqicon.png") no-repeat left;
}

.contact-wechat {
	width: 115px;
	margin: 0 90px 0 25px;
	text-align: center;
	font-size: 14px;
}

.contact-wx-img {
	max-width: 115px;
	max-height: 115px;
	margin: 15px 90px 0 65px;
	vertical-align: top;
}

/* 右侧展示主体 */
.modular-box {
	float: right;
	position: relative;
	width: 722px;
	height: 638px;
	border: 1px solid #ccc;
	background: #fff;
	overflow: hidden;
}

/* 模块切换按钮样式 */
.modular-toggle-button {
	position: absolute;
	top: 270px;
	right: 0;
	width: 25px;
	height: 100px;
	opacity: 0.3;
	border: 1px solid #bbb;
	border-right: none;
	z-index: 100;
}

.modular-toggle-button:hover {
	opacity: 1;
}

.m-toggle-b-up,
.m-toggle-b-down {
	width: 25px;
	height: 50px;
	background: #e8dfca;
	border: none;
	font: 800 12px "Microsoft YaHei";
	line-height: 13px;
}

.m-toggle-b-down {
	border-top: 1px solid #bbb;
}

.m-toggle-b-up:active,
.m-toggle-b-down:active {
	background: #cec0a1;
}

/* 模块主体样式 */
.modular-main {
	position: absolute;
	top: 0;
	left: 0;
	width: 722px;
	height: 638px;
	z-index: 50;
	background: #fff;
}

/* 展示页标题 */
.modular-m-header {
	width: 722px;
	height: 75px;
	border-bottom: 3px solid #ccc;
	text-align: center;
}

.modular-m-h-title {
	font-size: 24px;
	line-height: 3.1;
}

/* 展示页主体 */
.modular-m-content {
	width: 722px;
	max-height: 530px;
	font: 16px "Microsoft YaHei";
	overflow: hidden;
}

/* —‖第1页阐述观点样式 */
.modular-e-c-dec {
	display: block;
	width: 222px;
	height: 130px;
	margin: 200px 250px;
	font-size: 16px;
	line-height: 2.6;
}

/* —‖第2页基本信息样式 */
.m-pim-box {
	width: 422px;
	height: 326px;
	margin: 100px auto;
	border-top: 2px solid #e4e4e4;
	border-bottom: 2px solid #e4e4e4;
}

.m-pim-font {
	display: block;
	float: left;
	width: 210px;
	height: 158px;
	text-align: center;
	font: 30px "Microsoft YaHei";
	line-height: 5.26;
}

.m-pim-slash {
	float: left;
	width: 2px;
	height: 158px;
	background: #e4e4e4;
	transform: skewX(-30deg);
}

.m-pim-lines {
	float: left;
	width: 248px;
	height: 10px;
	margin: 0 87px;
}

.m-pim-line {
	float: left;
	width: 71px;
	height: 0;
	margin: 4px 0;
	border-top: 2px dashed #e4e4e4;
}

.m-pim-s-circle {
	float: left;
	width: 8px;
	height: 8px;
	border: 1px solid #ccc;
	border-radius: 4px;
	background: #fff;
}

.m-pim-c-apart {
	float: left;
	width: 86px;
	height: 10px;
}

/* —‖第3页技能页样式 */
.m-skill-box {
	position: relative;
	width: 600px;
	height: 500px;
	margin: 15px auto;
	overflow: hidden;
}

.m-skill-ff-box,
.m-skill-sf-box {
	position: relative;
	width: 600px;
	height: 250px;
}

.m-skill-html,
.m-skill-css,
.m-skill-js,
.m-skill-ps {
	position: absolute;
	top: 0;
	left: 0;
	width: 296px;
	height: 246px;
	border: 2px solid transparent;
	overflow: hidden;
	z-index: 20;
	background: #fff;
}

.m-skill-html,
.m-skill-js {
	left: 0;
}

.m-skill-css,
.m-skill-ps {
	left: 300px;
}

.m-skill-html:hover,
.m-skill-css:hover,
.m-skill-js:hover,
.m-skill-ps:hover {
	border-color: #e4e4e4;
	cursor: pointer;
	background: #fafafa;
}

.m-skill-html-dec,
.m-skill-css-dec,
.m-skill-js-dec,
.m-skill-ps-dec {
	display: none;
	position: absolute;
	top: 0;
	width: 298px;
	height: 246px;
	border: 2px solid #ccc;
	background: #fee9b8;
	overflow: hidden;
	z-index: 0;
}

.m-skill-html-dec,
.m-skill-js-dec {
	left: 0;
	border-left: none;
}

.m-skill-css-dec,
.m-skill-ps-dec {
	left: 300px;
	border-right: none;
}

.m-skill-circle {
	position: relative;
	float: left;
	width: 146px;
	height: 146px;
	margin: 49px 74px;
	border: 1px solid #999;
	border-radius: 75px;
	background: #e8dfca;
	/*text-align: center;*/
	overflow: hidden;
}

.m-skill-circle:hover {
	transform: scale(1.1,1.1);
}

.m-skill-icon {
	position: absolute;
	top: 50%;
	left: 50%;
	max-width: 60px;
	max-height: 78px;
	margin: 0;
	transform: translate(-50%,-50%);
}

/* —‖第4页关注页样式 */
.m-platform-icons {
	position: relative;
	width: 722px;
	height: 350px;
	color: #fff;
	overflow: hidden;
}

.m-p-w3 {
	position: absolute;
	top: 130px;
	left: 300px;
	width: 90px;
	height: 90px;
	border-radius: 45px;
	background: #bd2d30;
	/*color: #fff;*/
	text-align: center;
	font: 40px "Microsoft YaHei";
	line-height: 2.2;
	overflow: hidden;
	z-index: 10;
}

.m-p-sf {
	position: absolute;
	top: 120px;
	left: 230px;
	width: 70px;
	height: 70px;
	border-radius: 35px;
	background: #009a61;
	text-align: center;
	font: 35px "Microsoft YaHei";
	line-height: 1.9;
	overflow: hidden;
	z-index: 15;
}

.m-p-jian {
	position: absolute;
	top: 202px;
	left: 260px;
	width: 70px;
	height: 70px;
	border-radius: 35px;
	background: #f49484;
	text-align: center;
	font: 35px "Microsoft YaHei";
	line-height: 1.9;
	overflow: hidden;
	z-index: 15;
}

.m-p-github {
	position: absolute;
	top: 122px;
	left: 383px;
	width: 54px;
	height: 54px;
	border-radius: 27px;
	background: #fff;
	/*text-align: center;*/
	line-height: 54px;
	overflow: hidden;
	z-index: 15;
}

.m-p-g-logo {
	max-width: 55px;
	max-height: 55px;
	margin: 0;
}

.m-p-imweb {
	position: absolute;
	top: 190px;
	left: 380px;
	width: 44px;
	height: 44px;
	border-radius: 22px;
	background: #fff;
	/*text-align: center;*/
	line-height: 44px;
	overflow: hidden;
	z-index: 15;
}

.m-p-i-logo {
	max-width: 44px;
	max-height: 44px;
	margin: 0;
}

.m-p-w3cp {
	position: absolute;
	top: 52px;
	left: 310px;
	width: 78px;
	height: 78px;
	border-radius: 39px;
	background: #fff;
	/*text-align: center;*/
	line-height: 78px;
	overflow: hidden;
	z-index: 15;
}

.m-p-wp-logo {
	max-width: 86px;
	max-height: 78px;
	margin-left: -5px;
}

.m-p-more {
	position: absolute;
	top: 220px;
	left: 330px;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	background: #333;
	text-align: center;
	font: 30px "Microsoft YaHei";
	line-height: 0.8;
	overflow: hidden;
	z-index: 15;
}

.m-p-w3,
.m-p-sf,
.m-p-jian,
.m-p-github,
.m-p-imweb,
.m-p-w3cp,
.m-p-more {
	transition: z-index 2s, transform 2s;
}

.m-p-w3:hover,
.m-p-sf:hover,
.m-p-jian:hover,
.m-p-github:hover,
.m-p-imweb:hover,
.m-p-w3cp:hover,
.m-p-more:hover {
	transform: rotateY(360deg) scale(1.2,1.2);
	z-index: 50;
}

.m-more-platform {
	position: relative;
	width: 672px;
	height: 180px;
	margin: 0 0 0 10px;
	font: 16px "Microsoft YaHei";
	overflow: hidden;
}

.m-more-p-name {
	display: block;
	float: left;
	width: 100px;
	height: 21px;
}

.m-more-platform li:first-child span {
	height: 42px;
}

/* —‖第5页作品展示样式 */
.modular-show-boxs {
	width: 602px;
	height: 485px;
	margin: 45px 60px 0;
}

.m-show-screen-box {
	float: left;
	width: 352px;
	height: 485px;
}

.m-show-screen {
	width: 350px;
	height: 253px;
	border: 1px solid #aaa;
	text-align: center;
}

.m-show-s-dec {
	font: 24px "Microsoft YaHei";
	line-height: 10.5;
	letter-spacing: 5px;
}

.m-show-magnifier {
	position: relative;
	width: 352px;
	height: 213px;
	margin-top: 15px;
	border-top: 2px solid #666;
	/*background: #fff;*/
	overflow: hidden;
}

.m-show-m-icon {
	margin: 20px 0 0 10px;
}

.m-show-m-circle {
	width: 80px;
	height: 80px;
	border: 18px solid #333;
	border-radius: 58px;
	background: transparent;
}

.m-show-m-line {
	width: 110px;
	height: 32px;
	margin: -13px 0 0 93px;
	border-radius: 15px;
	background: #333;
	transform: rotateZ(35deg);
}

.m-show-m-font {
	position: absolute;
	top: 45px;
	left: 185px;
	font: 900 36px "Microsoft YaHei";
}

.m-show-windows {
	position: relative;
	float: left;
	width: 230px;
	height: 485px;
	margin-left: 20px;
	overflow: hidden;
}

.m-show-w-n1,
.m-show-w-n2,
.m-show-w-n3,
.m-show-w-n {
	position: relative;
	display: block;
	width: 218px;
	height: 123px;
	margin: 10px auto 18px;
	border: 1px solid #ccc;
	text-align: center;
	text-decoration: none;
	color: #917e54;
	background: rgba(255,255,255,0.3);
	opacity: 0.7;
}

.m-show-w-dec {
	position: absolute;
	bottom: 0;
	left: 0;
	display: block;
	width: 218px;
	height: 25px;
	line-height: 25px;
	background: rgba(0,0,0,0.8);
	z-index: 20;
}

.m-show-w-img {
	position: absolute;
	top: 0;
	left: 0;
	max-width: 218px;
	max-height: 123px;
	z-index: 10;
}

.m-show-w-n1:hover,
.m-show-w-n2:hover,
.m-show-w-n3:hover {
	border-color: #e8dfca;
	box-shadow: 0 0 6px #000;
	opacity: 1;
}

.m-show-w-n {
	/*display: block;
	width: 218px;*/
	height: 25px;
	margin: 0 auto;
	line-height: 25px;
	opacity: 1;
}

.m-show-w-n:hover {
	background: #e8dfca;
}

/* 展示页底部读白 */
.modular-m-footer {
	width: 722px;
	height: 30px;
}

.modular-m-f-line {
	width: 600px;
	height: 2px;
	background: #ccc;
}

.modular-m-f-tips {
	position: relative;
	width: 722px;
	height: 28px;
	overflow: hidden;
}

.modular-m-f-tips:hover {
	background: #fee9b8;
}

.modular-m-f-icon {
	max-width: 20px;
	max-height: 20px;
	margin: 4px 0 4px 20px;
	vertical-align: top;
}

.modular-m-f-notes {
	display: block;
	float: right;
	width: 677px;
	height: 28px;
	font-size: 13px;
	font-family: "Microsoft YaHei";
	line-height: 2.1;
}

/* 不显示样式 */
.dis-none {
	display: none;
}

.float-l {
	float: left;
}

.float-r {
	float: right;
}